Repository SchoolSafetyCrab/BACKEND-MAIN, pull requests merged in 2024-06, with the labels that each got.

#4 도커 파일 작성#1
  SchoolSafetyCrab/.gitignore
  SchoolSafetyCrab/Dockerfile
  SchoolSafetyCrab/gradle/wrapper/gradle-wrapper.properties
Labels: 🌏 Deploy

#10 gitaction 작성
  .github/workflows/gradle.yml
Labels: 🌏 Deploy

#11 [Feat] cors 해제 작성 #4
  SchoolSafetyCrab/Dockerfile
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/numberAuth/requestDto/CheckAuthCodeRequestDto.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/global/config/WebMvcConfig.java
Labels: 💻 CrossBrowsing, ✨ Feature

#17 [Feat] 보호자 자식들 조회 #8
  SchoolSafetyCrab/build.gradle
  SchoolSafetyCrab/src/main/generated/com/schoolsafetycrab/domain/guardian/model/QGuardian.java
  SchoolSafetyCrab/src/main/generated/com/schoolsafetycrab/domain/user/model/QUser.java
  SchoolSafetyCrab/src/main/generated/com/schoolsafetycrab/global/baseTimeEntity/QBaseTimeEntity.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/controller/GuardianController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/message/responseDto/MyChildrenResponseDto.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/repository/GuardianRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/repository/GuardianRepositoryCustom.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/repository/GuardianRepositoryImpl.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/service/GuardianService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/user/service/SignUpService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/global/config/QueryDslFactoryConfig.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/global/exception/CustomException.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/global/security/exceptionHandler/CustomExceptionHandler.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/guardian/controller/GuardianControllerTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/guardian/service/GuardianServiceTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/user/service/UserSignUpServiceTest.java
Labels: ✨ Feature, ✅ Test

#24 n:1 fetch lazy 로 변경
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/declaration/model/Declaration.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/declarationImg/model/DeclarationImg.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/model/Guardian.java
Labels: 🔨 Refactor

#26 [Feat] 등하굣길 등록
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/controller/SchoolWayController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/message/SuccessSchoolWayMessage.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/model/SchoolWay.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/repository/SchoolWayRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/requestDto/PointRequestDto.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/requestDto/SchoolWayPointRequestDto.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/service/SchoolWayService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolwaypoint/model/SchoolWayPoint.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolwaypoint/repository/SchoolWayPointRepository.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/schoolway/controller/SchoolWayControllerTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/schoolway/service/SchoolWayServiceTest.java
Labels: ✨ Feature, ✅ Test

#30 [Feat] 그룹 생성 #13
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/controller/GroupStudentController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/controller/GroupTeacherController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/message/SuccessGroupMessage.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/model/Group.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/repository/GroupRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/requestDto/CreateGroupRequestDto.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/service/GroupService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/usergroup/model/UserGroup.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/usergroup/repository/UserGroupRepository.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/group/controller/GroupTeacherControllerTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/group/service/GroupServiceTest.java
Labels: ✨ Feature, ✅ Test

#33 [Refactor] group table name 변경 #15
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/model/Grouping.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/repository/GroupingRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/service/GroupService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/usergroup/model/UserGrouping.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/usergroup/repository/UserGroupingRepository.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/group/service/GroupServiceTest.java
Labels: 🔨 Refactor

#34 [Refactor] group table 이름 변경 #15
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/model/Group.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/repository/GroupRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/service/GroupService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/usergroup/model/UserGroup.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/usergroup/repository/UserGroupRepository.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/group/service/GroupServiceTest.java
Labels: 🔨 Refactor

#36 [Feat] 등하굣길 삭제
  SchoolSafetyCrab/src/main/generated/com/schoolsafetycrab/domain/group/model/QGroup.java
  SchoolSafetyCrab/src/main/generated/com/schoolsafetycrab/domain/schoolway/model/QSchoolWay.java
  SchoolSafetyCrab/src/main/generated/com/schoolsafetycrab/domain/schoolwaypoint/model/QSchoolWayPoint.java
  SchoolSafetyCrab/src/main/generated/com/schoolsafetycrab/domain/usergroup/model/QUserGroup.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/controller/SchoolWayController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/message/SuccessSchoolWayMessage.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/model/SchoolWay.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/repository/SchoolWayRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/service/SchoolWayService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolwaypoint/model/SchoolWayPoint.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolwaypoint/repository/SchoolWayPointRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/global/exception/CustomException.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/schoolway/controller/SchoolWayControllerTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/schoolway/service/SchoolWayServiceTest.java
Labels: ✨ Feature, ✅ Test

#38 [Feat] 등하굣길 조회 (본인 조회)
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/controller/SchoolWayController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/message/responseDto/PointResponseDto.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolway/service/SchoolWayService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolwaypoint/repository/SchoolWayPointRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolwaypoint/repository/SchoolWayPointRepositoryCustom.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/schoolwaypoint/repository/SchoolWayPointRepositoryImpl.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/schoolway/controller/SchoolWayControllerTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/schoolway/service/SchoolWayServiceTest.java
Labels: ✨ Feature, ✅ Test

#43 [Feat] 등하굣길 조회 (자녀 조회)
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/controller/GuardianController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/repository/GuardianRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/repository/GuardianRepositoryCustom.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/repository/GuardianRepositoryImpl.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/service/GuardianService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/user/repository/UserRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/global/exception/CustomException.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/guardian/controller/GuardianControllerTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/guardian/service/GuardianServiceTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/schoolway/service/SchoolWayServiceTest.java
Labels: ✨ Feature, 🔨 Refactor, ✅ Test

#49 [Feat] 그룹 공지 작성 #22
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/controller/NotificationController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/message/SuccessNotificationMessage.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/model/Notification.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/repository/NotificationRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/requestDto/CreateNotificationRequestDto.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/service/NotificationService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/usergroup/repository/UserGroupRepository.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/notification/controller/NotificationControllerTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/notification/service/NotificationServiceTest.java
Labels: ✨ Feature, ✅ Test

#52 유저 정보 응답 role 추가
  SchoolSafetyCrab/src/main/generated/com/schoolsafetycrab/domain/notification/model/QNotification.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/controller/GroupTeacherController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/user/message/responseDto/UserInfoResponseDto.java
Labels: 🔨 Refactor

#53 [Feat] 그룹 공지 삭제 #23
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/controller/NotificationController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/message/SuccessNotificationMessage.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/repository/NotificationRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/service/NotificationService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/global/exception/CustomException.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/notification/controller/NotificationControllerTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/notification/service/NotificationServiceTest.java
Labels: ✨ Feature, ✅ Test

#56 user info 조회 userId 추가
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/user/message/responseDto/UserInfoResponseDto.java
Labels: 🔨 Refactor

#58 부모 자식 조회시 응답 id 추가
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/message/responseDto/MyChildrenResponseDto.java
Labels: 🔨 Refactor

#55 [Feat] 그룹 공지 조회 #25
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/controller/NotificationCommonController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/controller/NotificationTeacherController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/message/responseDto/NotificationListResponseDto.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/repository/NotificationRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/repository/NotificationRepositoryCustom.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/repository/NotificationRepositoryImpl.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/service/NotificationCommonService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/service/NotificationTeacherService.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/notification/controller/NotificationCommonControllerTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/notification/controller/NotificationTeacherControllerTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/notification/service/NotificationCommonServiceTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/notification/service/NotificationTeacherServiceTest.java
Labels: ✨ Feature, ✅ Test

#60 mychildren responsed dto id 수정
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/guardian/message/responseDto/MyChildrenResponseDto.java
Labels: 🔨 Refactor

#61 Push alarm#27 feature
  SchoolSafetyCrab/.gitignore
  SchoolSafetyCrab/build.gradle
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/notification/service/NotificationTeacherService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/pushnotification/controller/PushNotificationController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/pushnotification/dao/fcm/FCMDao.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/pushnotification/message/SuccessPushNotificationMessage.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/pushnotification/message/responseDto/PushNotificationResponseDto.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/pushnotification/model/PushNotification.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/pushnotification/repository/PushNotificationRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/pushnotification/repository/PushNotificationRepositoryCustom.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/pushnotification/repository/PushNotificationRepositoryImpl.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/pushnotification/requestDto/SaveDeviceTokenRequestDto.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/pushnotification/service/ObserverService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/pushnotification/service/PushNotificationService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/pushnotification/service/SubjectService.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/global/config/FCMConfig.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/global/exception/CustomException.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/PushNotification/controller/PushNotificationControllerTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/PushNotification/service/ObserverServiceTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/PushNotification/service/PushNotificationServiceTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/PushNotification/service/SubjectServiceTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/notification/service/NotificationTeacherServiceTest.java
Labels: ✨ Feature, ✅ Test

#63 [Feat] 선생님 그룹서 학생 등교길 조회하기#62
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/controller/GroupTeacherController.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/repository/GroupRepository.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/repository/GroupRepositoryCustom.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/repository/GroupRepositoryImpl.java
  SchoolSafetyCrab/src/main/java/com/schoolsafetycrab/domain/group/service/GroupTeacherService.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/group/controller/GroupTeacherControllerTest.java
  SchoolSafetyCrab/src/test/java/com/schoolsafetycrab/domain/group/service/FindGroupMemberSchoolWayTest.java
Labels: ✨ Feature, 🔨 Refactor, ✅ Test
